{% extends "tab_movies.html" %}
{% load content %}

{% block title %}{{ title|striptags }}{% ifnotequal page_number 1 %}, стр. {{ page_number }}{% endifnotequal %} - {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu 'people' %}
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="b-feed b-static-text">
        {% for item in items %}
            {{ item|link }}
        {% endfor %}
    </div>

    {% pagination %}
{% endblock content %}