/* Таблица фильмов (begin) */ /**/
.b-movie-list
{
    width: 100%; 
    color: #403F3F; 
    line-height: 18px;
    margin-top: 20px;
}

.b-movie-list th
{
    font: bold 16px Arial;
    padding-bottom: 7px;    
}

.b-movie-list th .b-pseudo-link span
{
    color: black;
}

.b-movie-list td.center
{
    text-align: center; 
}

.b-movie-list td
{
    padding: 3px 0 0 0; 
}

/* Таблица фильмов (end) */ /**/