/* Таблица фильмов (begin) */ /**/
.b-movie-list
{
    color: #403F3F;
    line-height: 18px;
    margin-top: 20px;
}

.b-movie-list th
{
    font: bold 16px Arial;
    padding-bottom: 7px;    
}

.b-movie-list th .b-pseudo-link span
{
    color: black;
}

.b-movie-list td.center
{
    text-align: center; 
}

.b-movie-list td
{
    padding: 3px 30px 0 0;
}

td.b-movie-list-icon
{
    padding: 3px 7px;
}


/* Таблица фильмов (end) */ /**/
