@import url(block/global/global.css);
@import url(block/global/global.reset.css);
@import url(block/g-line/g-line.css);

@import url(block/b-popup/b-popup.css);
@import url(block/l-page/l-page.css);
@import url(block/l-head/l-head.css);
@import url(block/b-round/b-round.css);
@import url(block/b-pager/b-pager.css);
@import url(block/b-usertab/b-usertab.css);
@import url(block/b-menu/b-menu.css);

@import url(block/b-page-title/b-page-title.css);
@import url(block/b-head-ill/b-head-ill.css);
@import url(block/b-logo/b-logo.css);
@import url(block/b-navigate/b-navigate.css);
@import url(block/b-hint/b-hint.css);
@import url(block/b-movie-list/b-movie-list.css);
@import url(block/b-pseudo-link/b-pseudo-link.css);
@import url(block/b-rubric-icon/b-rubric-icon.css);
@import url(block/b-local-links/b-local-links.css);

@import url(block/b-feed/b-feed.css);
@import url(block/b-bar/b-bar.css);
@import url(block/b-bar/b-bar-social.css);
@import url(block/b-static-text/b-static-text.css);
@import url(block/b-skill/b-skill.css);
@import url(block/b-dictionary/b-dictionary.css);
@import url(block/b-discount/b-discount.css);
@import url(block/b-studio/b-studio.css);
@import url(block/b-movie/b-movie.css);

@import url(block/b-new-post/b-new-post.css);
@import url(block/b-tag/b-tag.css);
@import url(block/b-tags-list/b-tags-list.css);
@import url(block/b-block-title/b-block-title.css);
@import url(block/b-adv/b-adv.css);
@import url(block/b-online/b-online.css);
@import url(block/b-comments/b-comments.css);
@import url(block/b-track-list/b-track-list.css);
@import url(block/b-search/b-search.css);

@import url(block/b-form/b-form.css);
@import url(block/b-auth-form/b-auth-form.css);

@import url(block/b-foot/b-foot.css);

@import url(block/b-banner-top/b-banner-top.css);
@import url(block/b-bookkeeping/b-bookkeeping.css);

a:link
{
    color: #317cb4;
}

a:hover
{
    color: #b00;
}

a:active
{
    color: #f00;
}

body
{
    text-align: center;
    color: #403f3f;
    background-color: #f9f9f9;
}

.b-container
{
    margin: auto;
    width: 1000px;
    background-color: white;
}

.float_right {
    float:right;
    padding: 10px;
}

.float_left {
    float:left;
    padding: 10px;
}

.g-hidden {
    display: none;
}

.question {
    font-weight: bold;
}

.answer {
    margin-bottom: 10px;
}

.para {
    margin-bottom: 10px;
}

h4 {
    font-weight: bold;
}
