/* Раскладка страницы (begin) */ /**/
    .l-page
    {
        width: 100%;
        margin-top: 1em;
        table-layout: fixed;
    }

    .l-page .l-page-g
    {
        width: 2%;
    }

    .l-page .l-page-r
    {
        width: 24%;
    }
    
    .l-page .l-page-l
    {
    	width: 68%;   
    }

    .l-page-r-g
    {
    	width: 4%;   
    }

    .l-page .l-page-g i,
    .l-page .l-page-r-g i
    {
        display: block;
        width: 20px;
    }
/* Раскладка страницы (end) */ /**/