{% extends "base.html" %}
{% load content %}

{% block title %}Страница не найдена - {{ block.super }}{% endblock %}

{% block page %}

       <!-- Основная часть -->
       <!-- Заголовок страницы -->
<div class="page_header"><table><tr><td><h1>Страница не найдена</h1></td><td class="page_header_right"></td></tr></table></div>
<!-- /Заголовок страницы -->

       <div class="content">
       <div class="text">
       	<br>
       	<div>К сожалению, по этому адресу ничего нету. Попробуйте начать с главной страницы. Если вы уверены, что здесь что-то не так, напишите нам на почту 
       			<script>document.write('<a href="'+'mailto:' + 'info' + '@'); document.write('glader.ru'); document.write('">info' + '@'); document.write('glader.ru</a>');</script><noscript>Включите javascript, чтобы увидеть адрес</noscript>.
       		</div>      	

       </div>
       </div>
   
{% endblock %}
