{% load content %}{% load russian %}{% load movies %}{% load staticfiles %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>

    <title>{% block title %}Glader.ru{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% block description %}{% endblock %}

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <META name="y_key" content="8b1f8e24033cbc55" />
    <meta name="google-site-verification" content="Gv6d-3AY6rk1BuhWm7xbhb7jMfptON1Vu2H-GOu2Ga4" />
    <meta name='yandex-verification' content='6c71e698ed73e400' />

    {% if debug %}
        <!--[if gt IE 7]><!--><link rel="stylesheet" href="{% static "design/3/css/glader.css" %}"/><!--<![endif]-->
        <!--[if lt IE 8]><link rel=stylesheet href="{% static "design/3/css/glader.ie.css" %}"/><![endif]-->
    {% else %}
        <!--[if gt IE 7]><!--><link rel="stylesheet" href="{% static "design/3/css/glader_.css" %}?8"/><!--<![endif]-->
        <!--[if lt IE 8]><link rel=stylesheet href="{% static "design/3/css/glader.ie_.css" %}?8"/><![endif]-->
    {% endif %}

    <link rel="alternate" type="application/rss+xml" href="/feeds/all" title="Сноубордические новости: лучшее">

    <link rel="shortcut icon" href="http://glader.ru/favicon.png">

    <script type="text/javascript">
        var STATIC_URL = '{{ STATIC_URL }}',
            logged_in = {% if request.user.is_authenticated %}true{% else %}false{% endif %};
    </script>
    <script type="text/javascript" src="{% static "js/ba-debug.min.js" %}"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.metadata.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "js/common.js" %}"></script>
    <script type="text/javascript" src="{% static "js/waypoints.js" %}"></script>
    <script type="text/javascript" src="{% static "js/waypoints-sticky.min.js" %}"></script>
    <script type="text/javascript" src="http://vkontakte.ru/js/api/share.js" charset="windows-1251"></script>
    <script src="http://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
	<script type="text/javascript" src="http://userapi.com/js/api/openapi.js"></script>
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">
        VK.init({apiId: {% VK_API_ID %}, onlyWidgets: true});
    </script>

    {% block head %}{% endblock %}

</head>
<body>
    <div class="b-container">
    <div class="b-head-ill_left">
        <div class="b-head-ill_right">
            <table class="l-head">
            <tr>
                <td class="l-head-g"><i></i></td>
                <td class="l-head-l">

                    <div class="b-logo"><a href="/" rel="nofollow"><img src="{% static "design/3/img/logo.gif" %}" alt="Glader.ru" /></a></div>
                    <div class="sticky-navigation-container">
                        <div class="sticky-navigation">
                            {% block top_menu %}
                                {% top_menu '' %}
                            {% endblock %}
                        </div>
                    </div>
                </td>
                <td class="l-head-g"><i></i></td>
            </tr>
            </table>

            {% block full_page %}
                <table class="l-page">
                <tr>
                    <td class="l-page-g"><i></i></td>
                    <td class="l-page-l">
                        {% block page %}
                            {% block breadcrumbs %}{% endblock %}</div>
                            <div class="b-page-title"><h1>{% block page_title %}{% endblock %}</h1></div>

                            {% block content %}{% endblock %}

                        {% endblock page %}
                    </td>
                    <td class="l-page-g"><i></i></td>
                </tr>
                </table>
            {% endblock full_page %}

            <noindex>
            <table class="l-page">
            <tr>
                <td class="l-page-g"><i></i></td>
                <td>
                    <i class="b-round b-round_6"><i class="l t"><i></i></i></i>
                    <div class="b-foot">
                        <a href="{% url "feedback" %}" rel="nofollow">Обратная связь</a>
                    </div>
                    <i class="b-round b-round_6"><i class="l b"><i></i></i></i>
                    <br />
                    <div class="b-copyright" style="float:right">
                        <a href="{% url "article" "advert" %}">Размещение рекламы</a>
                        {% block ampseo %}{% endblock %}
                    </div>
                    <div class="b-copyright">&copy;2007-2014 <a href="/">Glader.ru</a></div>
                </td>
                <td class="l-page-g"><i></i></td>
            </tr>
            </table>
            </noindex>
        </div>
    </div>
    </div>

{% if not user %}
    {% include "block_reg_popup.html" %}
{% endif %}


<script type="text/javascript">
    $(document).ready(function () {
        $('.sticky-navigation').waypoint('sticky');
    });
</script>

{% if not debug %}
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter8400 = new Ya.Metrika({id:8400, webvisor:true, clickmap:true, trackLinks:true,type:1}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/8400?cnt-class=1" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
{% endif %}

</body>
</html>
