{% load content %}
<div class="b-menu">
        <div class="b-menu__level1">
            <div class="b-menu__item {% ifequal level1 'posts' %}b-menu__item_state_current{% endifequal %}"><a href="/" title="Посты наших райдеров"><span class="b-menu__item__fade">посты</span><span>посты</span></a></div>
            <div class="b-menu__item {% ifequal level1 'articles' %}b-menu__item_state_current{% endifequal %}"><a href="/skills/" title="Информационный бункер"><span class="b-menu__item__fade">статьи</span><span>статьи</span></a></div>
            <div class="b-menu__item {% ifequal level1 'movies' %}b-menu__item_state_current{% endifequal %}"><a href="/movies/2015/" title="Фильмы, тизеры, саундтреки"><span class="b-menu__item__fade">фильмы</span><span>фильмы</span></a></div>
            <div class="b-menu__item {% ifequal level1 'mountains' %}b-menu__item_state_current{% endifequal %}"><a href="/mountains" title="Горки, места, отзывы"><span class="b-menu__item__fade">места катания</span><span>места катания</span></a></div>
        </div>

        <div class="b-menu__level2">
			{% for menu in submenu %}
	            <div class="b-menu__subitem {% ifequal menu.0 level2 %} b-menu__subitem_state_current{% endifequal %}">
	                <a href="{{ menu.1 }}" title="{{ menu.3 }}"><span>{{ menu.2 }}</span></a>
	            </div>
	        {% endfor %}
	        	<div></div>
        </div>
    </div>
