{% load content %}
{% load static %}

    <h2 class="b-block-title">Прямой эфир</h2>
    {% last_conversations %}

<br><br>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "292"}, 10510322);
</script>

