{% load russian %}
                    <div class="b-bar">
                        <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                        <table>
                        <tr>
                            <td class="points">
                            </td>
                            <td>
                                {% ifnotequal mode "empty" %}
                                <table class="b-bar-social"><tr>
                                    <td></td>
                                    <td class="sep">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td id="vk_like_{{ post.id }}">
                                        <script type="text/javascript">
                                            VK.Widgets.Like(
                                                "vk_like_{{ post.id }}",
                                                {
                                                    type: "button",
                                                    pageTitle: "Glader.ru: {{ post.title }}",
                                                    pageUrl: "https://glader.ru{{ post.get_absolute_url }}",
                                                    height: 18,
                                                    width: 320
                                                },
                                                {{ post.id }}
                                            );
                                        </script>
                                    </td>
                                    <td>
                                        <a href="https://twitter.com/share?text={{ post.title|urlencode }}&url=http://glader.ru{{ post.get_absolute_url }}" class="twitter-share-button">Tweet</a>
                                    </td>
                                </tr></table>
                                {% endifnotequal %}

							</td>
                            <td class="date">{% if post.date_created and not post.name %}{{ post.date_created|human_date }}{% endif %}</td>
                            <td class="comments">

                            </td>
                        </tr>
                        </table>
                        <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
                        <div class="dec">
                            <i class="lg"></i>
                            <i class="rg"></i>
                        </div>
                    </div>

