{% load content %}
    <script type="text/javascript" src="https://vkontakte.ru/js/api/share.js" charset="windows-1251"></script>
    <script src="https://vkontakte.ru/js/api/openapi.js" type="text/javascript" charset="windows-1251"></script>
	<script type="text/javascript" src="https://userapi.com/js/api/openapi.js"></script>
    <script type="text/javascript" src="https://platform.twitter.com/widgets.js"></script>

    <script type="text/javascript">
        VK.init({apiId: {% VK_API_ID %}, onlyWidgets: true});
    </script>
