{% load content %}
<table class="profile_list">
<tbody><tr>
	<th>Название</th>
	<th>Кол-во трасс</th>
	<th>Перепад высот</th>
	<th>Общая длина трасс</th>
	<th>Подъемники <small>(<a href="http://glader.ru/content/lifts">подробнее</a>)</small></th>
	<th>Иск. снег</th>
	<th>Ночное катание</th>
	<th>Сайт</th>
	<th>Телефон</th>
	<th>Мнения</th>
</tr>

	{% for d in districts %}
		<tr class="tr_odd">
			<td class="tr_header" colspan="10">{{ d.district.title }}</td>
		</tr>

		{% for m in d.mountains %}
			<tr class="{% cycle "tr_odd" "tr_even" %}">
				<td><strong>{{ m|link }}</strong></td>
				<td>{{ m.pistes|default:"&nbsp;" }}</td>
				<td>{{ m.overfall|default:"&nbsp;" }}</td>
				<td>{{ m.pistelength|default:"&nbsp;" }}</td>
				<td>{{ m.lifts|default:"&nbsp;" }}</td>
				<td>{{ m.snow|default:"&nbsp;" }}</td>
				<td>{{ m.nightwork|default:"&nbsp;" }}</td>
				<td>{{ m.url|default:"&nbsp;" }}</td>
				<td>{{ m.tel|default:"&nbsp;" }}</td>
			</tr>
		{% endfor %}
	{% endfor %}

</tbody></table>