{% extends "base.html" %}
{% load content %}
{% load movies %}

{% block top_menu %}
    {% top_menu 'posts' %}
{% endblock %}

{% block title %}{% if start %}Лучшие сообщения{% else %}Лучший сноубордический сайт{% endif %} {{ block.super }}{% endblock %}

{% block page %}
    <div class="b-page-title"><h1>Самое <b>интересное</b></h1></div>

    {% for category in categories %}
        <div class="b-category">
            <div class="b-category_title">{{ category.title }}</div>
            <div class="b-category_body">
                <table><tr>
                {% for post in category.posts %}
                    {% if forloop.first %}
                        <td class="b-category_post_first {% if post.is_sticky %}b-category_post_sticky{% endif %}">
                            <a href="{{ post.get_absolute_url }}">
                                <div class="b-category_post_first_img"><img src="{{ post.icon.src_500 }}" alt="{{ post.title }}"></div>
                    {% else %}
                        <td class="b-category_post">
                            <a href="{{ post.get_absolute_url }}">
                            <div class="b-category_post_img"><img src="{{ post.icon.src_150 }}" alt="{{ post.title }}"></div>
                        {% endif %}
                            <div class="b-category_post_title">{{ post.title }}</div>
                            <div class="b-category_post_abstract">{{ post.abstract|default:"" }}</div>
                        </a>
                    </td>
                {% endfor %}
                </tr></table>
            </div>
            {% if category.slug %}
                <noindex><div class="b-category_next">
                    <a href="{% url "category" category.slug %}?start={{ category.start }}">еще &raquo;</a>
                </div></noindex>
            {% endif %}
        </div>

        {% if forloop.first %}
	    {% endif %}
    {% endfor %}

    {% recent_teasers %}

    {% recent_movies %}
{% endblock page %}

{% block ampseo %}
    <br><a href="https://controlstyle.ru" target="_blank">Продвижение сайта</a>
{% endblock %}
