{% extends "base.html" %}
{% load content %}
{% load cache %}

{% block top_menu %}
    {% top_menu 'posts' %}
{% endblock %}

{% block title %}{% if start %}Лучшие сообщения{% else %}Лучший сноубордический сайт{% endif %} {{ block.super }}{% endblock %}

{% block page %}
    <div class="b-page-title"><h1>Самое <b>интересное</b></h1></div>

    <div class="b-feed">
        {% for post in posts %}
            {{ post }}
        {% endfor %}
    </div>

    {% pagination "/" %}
{% endblock page %}

{% block sidebar %}
    {% include "block_index_sidebar.html" %}
{% endblock sidebar %}

{% block ampseo %}
    <br><a href="http://ampseo.ru">Продвижение сайта</a>
{% endblock %}
