{% extends "base.html" %}
{% load content %}

{% block title %}{{ photo.title }} - {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu '' %}
{% endblock %}

{% block page_title %}Редактирование фотографии {{ photo.title }}{% endblock %}

{% block content %}
    <div class="float_left">{{ photo|link }}</div>

    <form action="" method="post">
    {{ form.as_p }}
    <input type="submit" name="action" value="Сохранить">
    <br /><br />
    <br /><br />
    <input type="submit" name="action" value="Удалить">
    </form>

{% endblock %}
