{% extends "base.html" %}
{% load content %}
{% load cache %}
{% load russian %}

{% block title %}{{ post.title }} - {{ parent.title }}{{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu 'posts' %}
{% endblock %}

{# FIXME: сделать внятные сообщения о статусах сообщений #}
{% block page_title %}
    {{ post|link }} {% post_edit_link post user %}
    {% post_status post %}
{% endblock %}

{% block content %}
    <div style="clear:both">
        <div class="b-feed">
        <div class="item">
            <div class="text g-line">
                <p>
                    {{ post.content|safe }}
                </p>
            </div>

            {{ post.tags_html|safe }}

            {% post_panel post user %}

            {% include "blocks/disqus_comments.html" %}
        </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2 class="b-block-title">Прямой эфир</h2>
    {% last_conversations %}
{% endblock %}
