{% extends "base.html" %}
{% load content %}
{% load staticfiles %}

{% block title %}Новое сообщение - {{ block.super }}{% endblock %}

{% block head %}
    <script type="text/javascript" src="http://yandex.st/jquery/2.0.3/jquery.min.js"></script>

    <script type="text/javascript" src="{% static "js/jquery.datepick.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.datepick-ru.js" %}"></script>
    <script type="text/javascript" src="{% static "js/swfupload.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.swfupload.js" %}"></script>
    <script type="text/javascript" src="{% static "js/md5.js" %}"></script>
    <link rel="stylesheet" href="{% static "design/3/css/contrib/datepicker/jquery.datepick.css" %}"/>

    <script type="text/javascript" src="{% static "js/jquery.fcbkcomplete.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "design/3/css/contrib/fcbkstyle.css" %}"/>

    <script src="{% static "redactor/redactor.min.js" %}"></script>
    <link rel="stylesheet" href="{% static "redactor/css/redactor.css" %}" />

<script type="text/javascript">
    $(function(){
        $('textarea').redactor({ imageUpload: '{% url "upload_photos" %}', focus: false });
    });

    $(function(){
        $("#id_tags").fcbkcomplete({
            json_url:'/ajax/tags_suggest',
            first_selected:false,
            filter_hide : true,
            filter_case:false,
            complete_text:"Введите теги поста",
            maxitems: 100
        });
    });

    $(function(){
        $('#swfupload-control').swfupload({
            upload_url: "/ajax/add_photo?sessionid={{ request.COOKIES.sessionid }}&post={{ post.id }}",
            file_size_limit : "10240",
            file_types : "*.*",
            file_types_description : "All Files",
            file_upload_limit : "0",
            flash_url : "{% static "swf/swfupload.swf" %}",
            button_image_url : '{% static "design/3/img/b-post-new/upload_button.png" %}',
            button_width : 138,
            button_height : 22,
            button_placeholder : $('#button')[0],
            debug: false,
            custom_settings : {something : "here"}
        })
            .bind('fileQueued', function(event, file){
                $('#log').append('<li id="file_'+hex_md5(file.name)+'">'+file.name+'</li>');
                // start the upload since it's queued
                $(this).swfupload('startUpload');
            })
            .bind('uploadStart', function(event, file){
                $('#file_'+hex_md5(file.name)).html(file.name + '&nbsp;<img src="{% static "design/3/img/b-ajax/ajax-loader.gif" %}">');
            })
            .bind('uploadSuccess', function(event, file, serverData){
                myData = JSON.parse(serverData);
                $('#file_'+hex_md5(file.name)).remove();
                $('#id_content').val( $('#id_content').val() + ' <glader pic="' + myData.picture_id + '">');
                $('#thumbnails').append(
                            '<div id="picture_' + myData.picture_id + '" class="b-picture {picture:\'' + myData.picture_id + '\'}">' +
                            '    <a href="' + myData.absolute_url + '" target="_blank"><img src="' + myData.thumbnail_url + '"></a>' +
                            '    <div class="content-btn">' +
                            '        <img src="{% static "design/3/img/b-post-new/pic_normal.png" %}" title="Вставить эту картинку в пост"' +
                            '            class="js-post-picture-prepare {picture:\'' + myData.picture_id + '\', method:\'normal\'}" alt=""/>' +
                            '        <img src="{% static "design/3/img/b-post-new/pic_left.png" %}" title="Вставить эту картинку с выравниванием влево"' +
                            '            class="js-post-picture-prepare {picture:\'' + myData.picture_id + '\', method:\'float_left\'}" alt=""/>' +
                            '        <img src="{% static "design/3/img/b-post-new/pic_right.png" %}" title="Вставить эту картинку с выравниванием влево"' +
                            '            class="js-post-picture-prepare {picture:\'' + myData.picture_id + '\', method:\'float_right\'}" alt=""/>' +
                            '    </div>' +
                            '</div>'
                );
                initPostPictures();
            })
            .bind('uploadComplete', function(event, file){
                // upload has completed, lets try the next one in the queue
                $(this).swfupload('startUpload');
            })
            .bind('uploadError', function(event, file, errorCode, message){
                $('#log').append('<li>Upload error - '+message+'</li>');
            });

        initPostButtons();
        initPostPictures();
    });
</script>


{% endblock %}

{% block top_menu %}
    {% top_menu 'new' %}
{% endblock %}

{% block full_page %}
    <table class="l-page"><tr>
        <td class="l-page-g"><i></i></td>
        <td>
            {% if post and post.preview %}
                {{ post.content|safe }}<br><br>
            {% endif %}

            {% ifequal post.status "save" %}
               <h1>Черновик. <a href="{{ post.get_absolute_url }}">Перейти к посту</a>.</h1>

            {% else %}{% ifequal post.status "del" %}
               <h1>Сообщение в корзине</h1>

            {% else %}
               <h1>Пост опубликован. <a href="{{ post.get_absolute_url }}">Перейти к посту</a>.</h1>

            {% endifequal %}{% endifequal %}

            <form method="post" id="editform" enctype="multipart/form-data">
            <table class="b-new-post"><tr>
                <td valign="top" class="b-form-main">
                    {% if form.str_errors %}
                        <div style="border: 1px solid red; padding: 3px;">{{ form.str_errors }}</div>
                    {% endif %}

                    <div>Категория<br />
                        {{ form.category }}
                        <br />
                        {% if form.errors.category %}
                            <div class="red">{% for e in form.errors.category %}{{ e }} {% endfor %}</div>
                        {% endif %}
                        <br />
                    </div>

                    <div>Название сообщения <br />
                        {{ form.title }}
                        <br />
                        {% if form.errors.title %}
                            <div class="red">{% for e in form.errors.title %}{{ e }} {% endfor %}</div>
                        {% endif %}
                        <br />
                    </div>

                    <div>
                        <div class="content-btn">Текст сообщения</div>

                        {{ form.content }}

                        <br /><br />

                        <div>Теги <span style="color:#9faab7">(добавьте пару слов о посте, например: москва, burton, fs360)</span><br />
                             {{ form.tags }}
                        <br /><br />
                        </div>
                    </div>

                    <table style="width: 100%">
                        <tr>
                            <td>
			                    <a href="#" onclick="$('#js-deferred-block').show(); $(this).hide(); return false;">Выбрать дату публикации</a>
			                    <div id="js-deferred-block" class="g-hidden">Отложенная публикация<br />
			                      Дата: {{ form.deferred_date }} <br />
			                      Время: {{ form.deferred_time }}
			                    </div>

			                    <input name="picdel" id="picdel" value="" type="hidden">
                            </td>
                        </tr>
                    </table>
                    <br /><br />

                    {% ifequal post.status "save" %}
	                    <input name="action" value="Сохранить" type="submit" style="margin-right: 200px">
	                    <input name="action" value="Опубликовать" type="submit" style="margin-right: 200px">
	                    <input name="action" value="Удалить" type="submit">

	                {% else %}{% ifequal post.status "del" %}
	                    <input name="action" value="Восстановить" type="submit">

	                {% else %}
	                    <input name="action" value="Сохранить" type="submit" style="margin-right: 200px">
	                    <input name="action" value="В черновики" type="submit" style="margin-right: 200px">
	                    <input name="action" value="Удалить" type="submit">

	                {% endifequal %}{% endifequal %}

                    {{ form.post }}

                </td><td valign="top">

                </td>
            </tr></table>
            </form>
        </td>
        <td class="l-page-g"><i></i></td>
    </tr></table>
{% endblock %}

{% block sape %}{% endblock %}
