{% extends "base.html" %}
{% load content %}
{% load russian %}
{% load static %}

{% block top_menu %}
	{% ifequal user domain_user %}
	    {% top_menu 'profile' %}
	{% else %}
		{% top_menu '' %}
	{% endifequal %}
{% endblock %}

{% block title %}Профиль пользователя {{ domain_user.name }}{% endblock %}

{% block content %}
{% with domain_user.get_absolute_url as url %}

       <!-- Основная часть -->
       <!-- Заголовок страницы -->

<div style="font: 14px Arial; padding-left:35px;line-height:1.5;">
	Вы просматриваете профиль пользователя <br>
	<span style="font: 36px Tahoma; color: #1c4d75;line-height: 1.3;">{{ domain_user.name }}</span> &nbsp; <sup style="font-size:24px; margin-right: 15px;">{{ domain_profile.rating }}</sup>
	&nbsp;&nbsp;
	<br>
	Цифры: {{ domain_user.name }} присоединил{% ifequal domain_profile.gender "f" %}ась{% else %}{% ifequal domain_profile.gender "m" %}ся{% else %}ось{% endifequal %}{% endifequal %} к нам {{ domain_profile.date_created|human_date:"year" }}
    <br>
	Последний визит {{ domain_profile.last_visit|human_date:"year"|default:"еще не случился" }} <br>
	Написал{% ifequal domain_profile.gender "f" %}а{% else %}{% ifequal domain_profile.gender "m" %}{% else %}о{% endifequal %}{% endifequal %}

		{% if domain_profile.pub_post_count %}
			 <a href="{% url "user_staff" domain_user.username "posts" %}" style="color: #1c4d75">{{ domain_profile.pub_post_count }} {{ domain_profile.pub_post_count|human_number:"пост" }}</a>,
		{% else %}
			0 постов,
		{% endif %}

	    и мы {% ifequal domain_profile.gender "f" %}её{% else %}его{% endifequal %} любим! <br><br>

	<div style="clear:both"></div>
	Я, <span style="color: #1c4d75">{{ domain_user.name }}</span>, предпочитаю {% ifequal user domain_user %}<a href="{% url "editprofile" %}" title="Редактировать профайл"><img src="{% static "design/3/img/b-profile/pencil.png" %}" alt="Редактировать профайл"></a>{% endifequal %}<br>
	Сноуборд: {{ domain_profile.board|default:"" }}<br>
	Крепления: {{ domain_profile.bindings|default:"" }}<br>
	Одежду: {{ domain_profile.clothes|default:"" }}<br>
	Мой стиль катания на горе: {{ domain_profile.riding_style|default:"" }}<br>
	Любимые склоны / места отдыха: {{ domain_profile.mountains|default:"" }}<br>

	<br>

	Страна: {{ domain_profile.country|default:"" }}<br>
	Город: {{ domain_profile.city|default:"" }}<br>
	ICQ/Jabber: {{ domain_profile.icq|default:"" }}<br>

	{% if last_photos %} <br>
		Последние фотографии:<br />
	       {% for p in last_photos %}
	            <a href="{{ p.get_absolute_url }}" style="border: 0"><img src="{{ p.yandex_fotki_image_src|thumbnail }}" style="border: 0"></a>&nbsp;
	       {% endfor %}
	<br><a href="{% url "user_staff" domain_user.username "photos" %}" style="color: #1c4d75">Смотреть все фотографии размещённые пользователем {{ domain_user.name }}</a>
	{% endif %}

	{% if last_comments %} <br><br><br>
	       Последние комментарии:<br />
	       {% for c in last_comments %}
	            Тема: <a href="{{ c.get_absolute_url }}" style="color: #1c4d75">{{ c.item.title }}</a><br />
	            Написал: {{ c.content|safe }} <br /><br />
	       {% endfor %}
	{% endif %}
</div>

{% endwith %}
{% endblock %}
