{% extends "item_common_article.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'dictionary' %}
{% endblock %}

{% block description %}
    {% if item.meta_description %}
        <meta name="description" content="{{ item.meta_description }}">
    {% endif %}
{% endblock %}

{% block title %}{{ item.title }} - {{ block.super }}{% endblock %}

{% block content %}
    {{ item.abstract|safe }}

    {{ item.content|safe }}

    {% include "blocks/disqus_comments.html" %}
{% endblock %}
