DATABASE_HOST = ''
DATABASE_DB = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

DJANGO_SECRET_KEY = ''

YAMAPS_API_KEY = ''

YAFOTKI_ACCOUNT_NAME = ''
YAFOTKI_TOKEN = ''
YAFOTKI_POST = '/api/users/gladerru/photos/'
YAFOTKI_HOST = 'api-fotki.yandex.ru'

SSH_USER = 'www'

DUMP_ACCOUNT_NAME = 'glader.dump'
DUMP_PASSWORD = ''

LOADOSOPHIA_TOKEN = ''

SAPE_LOGIN = ''
SAPE_PASSWORD = ''
SAPE_SITE_ID = 111
