DATABASE_HOST = ''
DATABASE_DB = ''
DATABASE_USER = ''
DATABASE_PASSWORD = ''

SES_ACCESS_KEY_ID = ''
SES_SECRET_ACCESS_KEY = ''

DJANGO_SECRET_KEY = ''

SAPE_DOMAIN = 'example.com
SAPE_USER = 'user_id'
SAPE_LOG = '/var/log/projects/gladerru/sape.log'
SAPE_USERNAME = ''
SAPE_PASSWORD = ''
SAPE_SITE_ID = 111

YAMAPS_API_KEY = ''

YAFOTKI_ACCOUNT_NAME = ''
YAFOTKI_TOKEN = ''
YAFOTKI_POST = '/api/users/gladerru/photos/'
YAFOTKI_HOST = 'api-fotki.yandex.ru'

SSH_USER = 'www'

DUMP_ACCOUNT_NAME = 'glader.dump'
DUMP_PASSWORD = ''

EC2_KEY = ''
EC2_SECRET = ''

CELERY_HOST = ''
CELERY_PORT = ''
CELERY_USER = ''
CELERY_PASSWORD = ''
CELERY_BROKER = ''
