Django==1.6.4
MySQL-python
PIL
South
boto
django-ses
gunicorn
logging
wsgiref
pytils
beautifulsoup4
html5lib
python-memcached
django-debug-toolbar
celery
django-celery
django-kombu
pymongo
simplejson
-e git+https://github.com/glader/easywebdav.git#egg=easywebdav
-e git+https://github.com/Dimmma/sape.git#egg=sape
-e git+https://github.com/garethr/django-timelog.git#egg=timelog
-e git+https://github.com/glader/django_yafotki.git#egg=yafotki
-e git+https://github.com/glader/django_russian.git#egg=django_russian
