beautifulsoup4==4.7.1
django-recaptcha==2.0.2
django-reversion==3.0.3
Django==2.1.8
gunicorn==19.9.0
psycopg2-binary==2.7.7
Pillow==5.4.1
python-memcached==1.59
pytils==0.3
raven
git+https://github.com/glader/django_russian.git#egg=django_russian==0.1
git+https://github.com/glader/django_yafotki.git#egg=django_yafotki==0.7.7
