beautifulsoup4==4.3.2
celery==3.1.12
django-celery==3.1.10
django-debug-toolbar==1.2.1
django-kombu==0.9.4
django-ses==0.6.0
django_yafotki==0.7.3
easywebdav==1.2.0
gunicorn==18.0
html5lib==0.999
logging==0.4.9.6
MySQL-python==1.2.5
Pillow==2.4.0
pymongo==2.7.1
python-memcached==1.53
pytils==0.3
simplejson==3.5.2
South==0.8.4
git+https://github.com/Dimmma/sape.git#egg=sape==0.2
git+https://github.com/garethr/django-timelog.git#egg=timelog==0.4
git+https://github.com/glader/django_russian.git#egg=django_russian==0.1
django_nose==1.2
django_webtest==1.7.7
webtest==2.0.15
