<script type="text/javascript">
$(document).ready(function(){
  $('.display-close').click(function(e){
    e.preventDefault();
    $('#block-right-fxd').fadeOut(500);
  });
});
  setTimeout(function(){
     $('#block-right-fxd').show();
  }, 5000);
</script>

<style>
@media (max-width: 600px) {
.block-right-wrapper { display: none; }
}
</style>
<div class="block-right-wrapper">
<div id="block-right-fxd" class="content_rb" style="clear: both; display: none;" data-finished="1"><div class="displayBlock sticky" style="opacity: 1; position: absolute; display: block;" data-show="1" ><div style="position: fixed; background-color: rgb(255, 255, 255); z-index: 100; top: auto; right: 0px; min-height: 250px; min-width: 160px; max-width: 336px; left: auto; bottom: 0px;" ><div class="display-close" style="position: absolute;bottom: 100%;right: 0;text-decoration: none;cursor: pointer;line-height: 1;margin: 0;padding: 0;text-align: center;padding: 0 5px;display: table;white-space: nowrap;width: 35px;height: 35px;line-height: 35px;font-size: 26px;font-weight: bold;font-style: normal;color: #e6f0ff;background: #646464;right: 0 !important;left: auto !important;">X</div><div>

<!--Тип баннера: 300x600-->
<!--Расположение: Правый сайдбар 2-->
<div id="adfox_161018688532021713"></div>
<script>
    window.Ya.adfoxCode.createAdaptive({
        ownerId: 221624,
        containerId: 'adfox_161018688532021713',
        params: {
            pp: 'rda',
            ps: 'dcby',
            p2: 'gefs'
        }
    }, ['desktop', 'tablet'], {
        tabletWidth: 830,
        isAutoReloads: false
    });
</script>

</div></div></div></div></div>



<script type="text/javascript">
$(document).ready(function(){
  $('#close').click(function(e){
    e.preventDefault();
    $('.fixed_block').fadeOut(500);
  });
});
  setTimeout(function(){
     $('.fixed_block').show();
  }, 10000);
</script>

<style>
.fixed_block{width: 100%; min-width: 320px; min-height: 100px; background: #FFF; position: fixed; bottom: 0; z-index: 9999; border: solid 1px #ccc; margin: 0 auto;}
.fixed_block p{margin: 0; text-align: center; color: #eee; padding: 20px;}
.fixed_block_inner{display: table; margin: auto;}
#close{background: #dadedf; width: 25px; line-height: 25px; color: #000; display: inline-block; text-align: center; position: absolute; top: -29px; right: 0; cursor: pointer; border: solid 1px #d4d4d4;}
@media (min-width: 600px) {
.fixed_block_wrapper { display: none; }
}
</style>
<div class="fixed_block_wrapper">
  <div class="fixed_block" style="display: none;">
  <div class="fixed_block_inner">

    <!--Тип баннера: 320x100-->
    <!--Расположение: 320x100 bottom-->
    <div id="adfox_161018610781956748"></div>
    <script>
        window.Ya.adfoxCode.createAdaptive({
            ownerId: 221624,
            containerId: 'adfox_161018610781956748',
            params: {
                pp: 'oay',
                ps: 'dcby',
                p2: 'gaye'
            }
        }, ['phone'], {
            phoneWidth: 480,
            isAutoReloads: false
        });
    </script>

  </div>
  <span id="close">×</span>
  </div>
</div>
