/* Заголовок страницы (begin) */ /**/
    .b-page-title
    {
        font-size: 180%;

        margin: 0 0 1em 0;

        color: #ee3124;
    }

    .b-page-title h1 b
    {
        color: #0f4c79;
    }
/* Заголовок страницы (end) */ /**/