{% load content %}Glader.ru: Ответ на ваш комментарий
<html><body>
Пользователь {{ comment.author|link }} ответил на ваш комментарий к топику "{{ post|link }}":<br><br>
                        <i>{{ comment.content }}</i><br><br>
                        <a href='https://glader.ru{{ comment.get_absolute_url }}'>Ответить</a>.
</body></html>