{% extends "tab_none.html" %}
{% load content %}

{% block title %}Авторизация{% endblock %}

{% block page %}

       <!-- Основная часть -->
       <!-- Заголовок страницы -->
		<div class="page_header"><table><tr><td><h1>Сброс пароля</h1></td><td class="page_header_right"></td></tr></table></div>
		<!-- /Заголовок страницы -->

       <div class="content">
       <div class="text">
       
		<div>Инструкции по смене пароля отправлены на ваш почтовый ящик. Следуйте инструкциям в письме.</div>

       </div>
       </div>
   
{% endblock %}
