[Unit]
Description=gladerru
After=network.target

[Service]
User=www
Group=www
WorkingDirectory=/home/www/projects/gladerru/src
ExecStart=/home/www/projects/gladerru/ENV/bin/gunicorn wsgi:application --workers 2 --bind 'unix:/home/www/projects/gladerru/wsgi.sock' --log-file /var/log/projects/gladerru/gunicorn_errors.log

[Install]
WantedBy=multi-user.target
