{% extends "base.html" %}
{% load content %}
{% load static %}

{% block page_title %}Дисконтные карты{% endblock %}

{% block content %}
	<div class="b-discount">
		<p>Здесь собраны дисконтные карты, владельцы которых могут одолжить их для похода в магазин.
		Если у вас тоже есть дисконтная карта спортивного магазина, и вам не жалко дать ей попользоваться кому-то еще,
		добавляйтесь по кнопке внизу страницы.</p>
		<br />
		{% for city, discounts_list in discounts %}
			<div class="city">{{ city }}</div>
			<table>
				{% for discount in discounts_list %}
					<tr>
						<td>{{ discount.card }}</td>
						<td>{{ discount.discount }}</td>
						<td>{{ discount.user|link }}</td>
						<td>{{ discount.contacts }}</td>
						<td>
							{% ifequal user discount.user %}
								<a href="{% url "discount_edit" discount.id %}" title="Редактировать"><img src="{% static "design/3/img/b-discount/pencil.png" %}" alt="Редактировать карту"></a>
								<a href="{% url "discount_delete" discount.id %}" title="Удалить"><img src="{% static "design/3/img/b-discount/cross.png" %}" alt="Удалить карту"></a>
							{% endifequal %}
						</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}
	</div>

	<br />
	<p>
		<a href="{% url "discount_new" %}" title="Добавить карту" class="js-login_required {next:'/discounts/new'}"><img src="{% static "design/3/img/b-discount/discount_add_button.jpg" %}" alt="Добавить карту"></a>
	</p>
{% endblock %}

{% block top_menu %}
    {% top_menu '' %}
{% endblock %}

{% block title %}Дисконтные карты {{ block.super }}{% endblock %}

{% block description %}<meta name="description" content="Дисконтные карты посетителей сайта Glader.ru">{% endblock %}
