.b-relative-posts
{
    margin-top: 30px;
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
}

.b-relative-posts_title
{
    color: #666;
    font-size: 150%;
}

.b-relative-posts ul {
    margin: 10px 0 0 10px;
}

.b-relative-posts li
{
    padding-bottom: 5px;
    list-style: none;
}

.b-relative-posts li a:link, .b-relative-posts li a:active,
.b-relative-posts li a:hover, .b-relative-posts li a:visited
{
    color: #333;
}

.b-relative-posts li a:active, .b-relative-posts li a:hover
{
    color: #999;
}
