.b-post_content
{
    width: 800px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.b-post_content h2
{
    font-size: 130%;
    font-weight: bold;
}

.b-post_content h2
{
    font-size: 110%;
    font-weight: bold;
}

.b-post_content table
{
    border-collapse: collapse;
}

.b-post_content table td
{
    border: 1px solid #000000;
    padding: 3px;
}


.b-relative-posts
{
    margin-top: 30px;
    background-color: #eee;
    padding: 15px;
    border-radius: 8px;
}

.b-relative-posts_title
{
    color: #666;
    font-size: 150%;
}

.b-relative-posts ul {
    margin: 10px 0 0 10px;
}

.b-relative-posts li
{
    padding-bottom: 5px;
    list-style: none;
}

.b-relative-posts li a:link, .b-relative-posts li a:active,
.b-relative-posts li a:hover, .b-relative-posts li a:visited
{
    color: #333;
}

.b-relative-posts li a:active, .b-relative-posts li a:hover
{
    color: #999;
}
