{% load content %}
{% load static %}

    <div class="b-track-list">
        {% for song in songs %}
            <div class="track">
                {% if song.file %}
                    <a href="#" id="play{{ song.id }}" class="play {song:'{{ song.id }}', prefix:'{{ SOUNDTRACKS_PREFIX }}', filename:'{{ song.filename }}'}" title="Проиграть трек"><img src="{% static "design/3/img/b-track-list/play.png" %}" alt="Проиграть трек"></a>
                    <a href="#" id="stop{{ song.id }}" class="stop {song:'{{ song.id }}'} g-hidden" title="Остановить трек"><img src="{% static "design/3/img/b-track-list/pause.png" %}" alt="Остановить трек"></a>
                    <span>
                {% else %}
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="absent">
                {% endif %}

                {{ song.performer }} - {{ song.title }} {% if song.note %}({{ song.note }}){% endif %}
                </span>

                {% if not song.file %}
                    <span title="Вы можете попросить или предложить ссылку на этот трек в комментариях." style="border-bottom: 1px dashed #317CB4">пока нету</span>
                {% endif %}
            </div>
            <div id="song{{ song.id }}"><div id="player_place{{ song.id }}"></div></div>
            <div style="margin-bottom: 5px;"></div>
        {% endfor %}
    </div>
