{% extends "tab_movies.html" %}
{% load content %}
{% load static %}
{% load movies %}

{% block top_menu %}
    {% top_menu movie.year 'movies' %}
{% endblock %}

{% block scripts %}
    {{ block.super }}

    {% include "block_social_scripts.html" %}
{% endblock %}

{% block description %}
    {% if movie.meta_description %}
        <meta name="description" content="{{ movie.meta_description }}">
    {% endif %}
{% endblock %}

{% block title %}{{ movie.title }} - сноубордические фильмы{% endblock %}

{% block page_title %}{{ movie.title }}{% if request.user.is_superuser %} <small><a href="/admind/movies/movie/{{ movie.id }}/">ред</a></small>{% endif %}{% endblock %}

{% block content %}
    <div style="float: right;">
        <!-- inner-right -->
    </div>

	<div class="b-movie">
		{% if movie.cover %}
			<a href="{{ movie.cover.src }}" class="float_right" rel="nofollow"><img src="{{ movie.cover.src|thumbnail }}" alt="{{ movie.title }} - обложка" border="0"></a>
		{% endif %}

	    <table class="b-movie_info"><tbody>
	        {% if movie.studio %}<tr><td valign="top"><strong>Студия:</strong></td><td>{{ movie.studio|link }}</td></tr>{% endif %}

	        <tr><td valign="top"><strong>Год:</strong></td><td>{{ movie.year|default:"-" }}</td></tr>

	        {% if movie.url %}
	        	<tr><td valign="top"><strong>Адрес:</strong></td><td><a href="{{ movie.url }}" rel="nofollow">{{ movie.url }}</a></td></tr>
	       	{% endif %}

	        <tr><td valign="top"><strong>Торрент:</strong></td><td>
	            {% if movie.torrent %}
	                <a href="{{ movie.torrent }}" rel="nofollow">скачать</a> <!-- <a href="/content/torrents.htm" target="_blank"><img src="{% static "design/3/img/icons/question.png" %}"></a>-->
                    {% if movie.torrent|is_extremebits %}<span title="Этот торрент устарел. Дайте в комментариях ссылку на свежий." style="border-bottom: 1px dashed #317CB4" onclick="alert('Этот торрент устарел. Дайте в комментариях ссылку на свежий.')">помочь сайту</span>{% endif %}
                {% else %}
	                <span title="Вы можете попросить или предложить ссылку на торрент в комментариях." onclick="alert('Вы можете попросить или предложить ссылку на торрент в комментариях.')" style="border-bottom: 1px dashed #317CB4">пока нету</span>
	            {% endif %}
	        </td></tr>

            {% riders movie %}

	        {% if movie.teaser %}
	            <tr><td valign="top"><strong>Тизер:</strong></td>
	            	<td>{{ movie.teaser|set_video_width:"800"|safe }}</td>
	           	</tr>
	        {% endif %}

	        {% if movie.full_movie %}
	            <tr><td valign="top"><strong>Видео</strong></td>
	            	<td>{{ movie.full_movie|set_video_width:"800"|safe }}</td>
	           	</tr>
	        {% endif %}

            {% if songs %}
                <tr><td valign="top"><strong>Аудиотреки:</strong></td>
                    <td>{% soundtrack_list songs %}</td>
                   </tr>
            {% endif %}

            {% if movie.content %}
                <tr><td valign="top"><strong>Описание:</strong></td>
                    <td>{{ movie.content|safe }}</td>
                   </tr>
            {% endif %}
	    </tbody></table>
	</div>

    <div class="b-relative-movies">
        <div class="b-relative-movies_title">Еще посмотреть:</div>
        <ul class="b-relative-movies_header">
            {% for movie in movies %}
                <li><a href="{{ movie.get_absolute_url }}">{% if movie.studio %}{{ movie.studio.title }} - {% endif %}{{ movie.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    {% include "blocks/disqus_comments.html" %}
{% endblock %}
