{% extends "tab_movies.html" %}
{% load content %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>
{% endblock %}

{% block top_menu %}
    {% top_menu year %}
{% endblock %}

{% block page_title %}Сноубордические фильмы{% endblock %}

{% block title %}Сноубордические фильмы - {{ block.super }}{% endblock %}

{% block content %}
	<table class="sortable b-movie-list">
		<tr>
            <th class="sorttable_alpha"><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Наименование</span></span></th>
            <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Студия</span></span></th>
            <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Год</span></span></th>
            <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Тизер</span></span></th>
            <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Фильм</span></span></th>
            <th class="sorttable_alpha"><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Торрент</span></span></th>
            <th class="sorttable_alpha"><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Треки</span></span></th>
		</tr>

	{% for movie in object_list %}
		<tr>
			<td>{{ movie|link }}</td>
			<td>{% if movie.studio %}{{ movie.studio|link }}{% endif %}</td>
            <td>{{ movie.year|default:"" }}</td>
            <td class="center">{% if movie.teaser %}есть{% endif %}</td>
            <td class="center">{% if movie.full_movie %}есть{% endif %}</td>
            <td class="center">{% if movie.torrent %}<a href="{{ movie.torrent }}"><img src="{% static "design/3/img/b-movie-list/disk.png" %}" alt="Скачать торрент"></a>{% else %}&nbsp;{% endif %}</td>
            <td class="center">{% if movie.has_songs %}<img src="{% static "design/3/img/b-movie-list/music.png" %}" alt="Скачать торрент">{% else %}&nbsp;{% endif %}</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
