{% extends "tab_movies.html" %}
{% load content %}
{% load static %}

{% block extrahead %}
    {{ block.super }}

    <script type="text/javascript" src="{% static "js/sorttable.js" %}"></script>

    <meta name="robots" content="noindex,follow"/>
{% endblock %}

{% block top_menu %}
    {% top_menu year %}
{% endblock %}

{% block page_title %}Сноубордические фильмы{% if year != 'all' %} {{ year }} года{% endif %}{% endblock %}

{% block title %}Сноубордические фильмы{% if year != 'all' %} {{ year }} года{% endif %}{% endblock %}

{% block content %}
	<table class="sortable b-movie-list">
		<tr>
            <th>&nbsp;</th>
            <th class="sorttable_alpha"><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Наименование</span></span></th>
            <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Студия</span></span></th>
            {% if year == 'all' %}
                <th><span class="b-pseudo-link" title="Сортировка по столбцу"><span>Год</span></span></th>
            {% endif %}
		</tr>

	{% for movie in object_list %}
		<tr>
            <td class="b-movie-list-icon">{% if movie.full_movie %}<img src="{% static "design/3/img/icons/type-movie.png" %}" alt="есть видео">{% endif %}</td>
			<td>{{ movie|link }}</td>
			<td>{% if movie.studio %}{{ movie.studio|link }}{% endif %}</td>
            {% if year == 'all' %}
                <td>{{ movie.year|default:"" }}</td>
            {% endif %}
		</tr>
	{% endfor %}
	</table>
{% endblock %}
