{% extends "tab_movies.html" %}
{% load content %}

{% block title %}{{ title|striptags }}{% ifnotequal page_obj.number 1 %}, стр. {{ page_obj.number }}{% endifnotequal %} - {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu 'people' %}
{% endblock %}

{% block page_title %}{{ title }}{% endblock %}

{% block content %}
    <div class="b-feed b-static-text">
        {% for photo in object_list %}
            <a href="{{ photo.yandex_fotki_image_src }}" target="_blank"><img src="{{ photo.yandex_fotki_image_src|thumbnail }}"></a>
        {% endfor %}
    </div>

    {% include "block_django_pagination.html" %}
{% endblock content %}
