{% extends "tab_movies.html" %}
{% load content %}
{% load static %}
{% load movies %}

{% block scripts %}
    {{ block.super }}

    <script type='text/javascript' src='{% static "js/swfobject.js" %}'></script>
    <script type='text/javascript' src='{% static "js/player_utils.js" %}'></script>
{% endblock scripts %}

{% block extrahead %}
    <link rel="canonical" href="{% url "soundtracks" %}" />
{% endblock %}

{% block top_menu %}
    {% top_menu 'soundtracks' %}
{% endblock %}

{% block title %}Саундтреки сноубордических фильмов{% ifnotequal page_obj.number 1 %}, стр. {{ page_obj.number }}{% endifnotequal %}{% endblock %}

{% block page_title %}Саундтреки сноубордических фильмов{% endblock %}

{% block content %}
	<div class="b-feed">
	    {% for m in object_list %}
	        <div class="item">
	            <div class="title"><h2>{{ m|link }} ({{ m.year|default:"" }}{% if m.year %}, {% endif %}{{ m.rating|default:"0" }})</h2></div><br />
	            <div style="margin-left: 20px;">
	                {% soundtrack_list m.song_set.all %}
	            </div>
	        </div>
	    {% endfor %}
	</div>

		{% include "block_pagination.html" %}
{% endblock %}
