{% extends "tab_movies.html" %}
{% load content %}
{% load static %}
{% load movies %}

{% block top_menu %}
    {% top_menu 'studies' %}
{% endblock %}

{% block description %}
    {% if studio.meta_description %}
        <meta name="description" content="{{ studio.meta_description }}">
    {% endif %}
{% endblock %}

{% block title %}Студия {{ studio.title }}{% endblock %}

{% block page_title %}{{ studio.title }}{% if request.user.is_superuser %} <small><a href="/admind/movies/studio/{{ studio.id }}/">ред</a></small>{% endif %}{% endblock %}

{% block content %}
	<div class="b-studio">
        {% if studio.image %}<a href="{{ studio.image.url }}" class="float_right" rel="nofollow"><img src="{% static "{{ studio.image.get_thumbnail_url }}" %}" alt="{{ studio.title }} - логотип" border="0"></a><br>{% endif %}

		{% if studio.url %}<strong>Адрес:</strong> <a href="{{ studio.url }}" title="Официальный сайт" rel="nofollow">{{ studio.url }}</a><br/><br/>{% endif %}

       	{{ studio.content|safe }}

		{% if movies %}
            <div class="b-recent-teasers">
                <div class="b-recent-teasers_title">Фильмы</div>
                    <div class="b-recent-teasers_body">
                        <table><tr>
                            {% for movie in movies %}
                                <td>
                                    <div class="b-recent-teasers_movie">
                                        <a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a>
                                        ({{ movie.year }})
                                    </div>
                                    <div>{{ movie.teaser|set_video_width:"500"|safe }}</div>
                                </td>
                                {% cycle '' '</tr><tr>' %}
                            {% endfor %}
                        </tr></table>
                    </div>
                </div>
            </div>
        {% endif %}
	</div>
{% endblock %}
