{% extends "tab_movies.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'teasers' %}
{% endblock %}

{% block title %}Тизеры сноубордических фильмов{% ifnotequal page_obj.number 1 %}, стр. {{ page_obj.number }}{% endifnotequal %} - {{ block.super }}{% endblock %}

{% block page_title %}Тизеры сноубордических фильмов{% endblock %}

{% block content %}
	<div class="b-feed">
	    {% for m in object_list %}
	        <div class="item">
	            <div class="title"><h2>{{ m|link }} ({{ m.year|default:"" }}{% if m.year %}, {% endif %}{{ m.rating|default:"0" }})</h2></div><br />
	            <p>{{ m.teaser|safe }}</p>
	        </div>
	    {% endfor %}
	</div>

	{% include "block_django_pagination.html" %}
{% endblock %}
