{% extends "base.html" %}
{% load content %}

{% block description %}
    {% if article.meta_description %}
        <meta name="description" content="{{ article.meta_description }}">
    {% endif %}
{% endblock %}

{% block extrahead %}
    <link rel="canonical" href="http://{{ DOMAIN }}{{ article.get_absolute_url }}" />
    <meta property="og:image" content="{{ article.icon }}"/>
    <script type="text/javascript" async class="AdvertoneJS" src="//static.advertone.ru/js/advertone_async.js"></script>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "block_social_scripts.html" %}
{% endblock %}

{% block page_title %}{{ article.title }}{% if request.user.is_superuser %} <small><a href="/admind/core/post/{{ article.id }}/">ред</a></small>{% endif %}{% endblock %}

{% block title %}{{ article.title }} {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu article.skill.slug 'articles' %}
{% endblock %}

{% block content %}
    <script type="text/javascript">

colors = ['317CB4', '000000', 'CC0000', 'CC6600', 'CCCC00', '66CC00', '00CC66', '00CCCC', '0066CC', '0000CC', '6600CC', 'CC00CC', 'CC0066'];
color_index = Math.floor(Math.random() * colors.length);

title_size = Math.floor(Math.random() * 3) + 1;

yandex_partner_id = 8400;
yandex_site_bg_color = 'FFFFFF';
yandex_stat_id = 23;
yandex_ad_format = 'direct';
yandex_font_size = 1;
yandex_direct_type = 'vertical';
yandex_direct_limit = 1;
yandex_direct_title_font_size = title_size;
yandex_direct_links_underline = true;
yandex_direct_title_color = colors[color_index];
yandex_direct_url_color = '666666';
yandex_direct_text_color = '000000';
yandex_direct_hover_color = 'CC0000';
yandex_direct_sitelinks_color = '317CB4';
yandex_direct_favicon = true;
yandex_no_sitelinks = false;


yadid = yandex_stat_id .toString() + '0' + color_index.toString() + '0' + title_size.toString();
yandex_stat_id = parseInt(yadid);

document.write('<scr'+'ipt type="text/javascript" src="//an.yandex.ru/system/context.js"></scr'+'ipt>');
</script>


    {% if article.type == 'post' %}
        <div style="float: right;">
<!-- /85092470/glader_post_right -->
<div id='div-gpt-ad-1450960661235-0'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1450960661235-0'); });
</script>
</div>

        </div>
    {% endif %}

    <div class="b-static-text text g-line b-post_content">
        {{ article.content|default:""|safe }}
    </div>

    {% if article.type == 'post' %}
        <div data-ablock="8914" class="AdvertoneBlock" style="display:inline-block"></div>

<br><br>
<div id="bn_89155218e8">загрузка...</div>
<script type="text/javascript" src="//recreativ.ru/rcode.89155218e8.js"></script> 

        {% relative_articles article %}

        {% include "blocks/disqus_comments.html" %}
    {% endif %}
{% endblock %}
