{% extends "base.html" %}
{% load content %}

{% block title %}{{ category.title }}{% endblock %}

{% block top_menu %}
    {% top_menu category.slug %}
{% endblock %}

{% block extrahead %}
    <meta name="robots" content="noindex,follow"/>
{% endblock %}

{% block page %}
    <div class="b-category_body">
        <table><tr>
        {% for post in posts %}
            <td class="b-category_post_first b-category_post_inlist {% if post.is_sticky %}b-category_post_sticky{% endif %}">
                <a href="{{ post.get_absolute_url }}">
                    <div class="b-category_post_first_img"><img src="{{ post.icon.src_500 }}" alt="{{ post.title }}"></div>
                    <div class="b-category_post_title">{{ post.title }}</div>
                    <div class="b-category_post_abstract">{{ post.abstract|default:"" }}</div>
                </a>
            </td>

            {% cycle '' '</tr><tr>' %}
        {% endfor %}

        <tr><td colspan="2"><noindex>
            <div class="b-category_pagination">{% pagination %}</div>
        </noindex></td>
        </tr></table>
    </div>
{% endblock page %}
