{% extends "base.html" %}
{% load content %}
{% load russian %}

{% block title %}{{ post.title }}{% endblock %}

{% block description %}
    {% if post.meta_description %}
        <meta name="description" content="{{ post.meta_description }}">
    {% endif %}
{% endblock %}

{% block top_menu %}
    {% top_menu post.category.slug 'posts' %}
{% endblock %}

{% block extrahead %}
    <meta property="og:image" content="{{ post.icon }}"/>
    <link rel="canonical" href="http://{{ DOMAIN }}{{ post.get_absolute_url }}" />
    <script type="text/javascript" async class="AdvertoneJS" src="//static.advertone.ru/js/advertone_async.js"></script>

<script type='text/javascript'>
  googletag.cmd.push(function() {
    googletag.defineSlot('/85092470/glader_post_header', [[800, 211], [600, 250]], 'div-gpt-ad-1451128144902-0').addService(googletag.pubads());
    googletag.pubads().enableSingleRequest();
    googletag.enableServices();
  });
</script>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% include "block_social_scripts.html" %}
{% endblock %}

{% block page_title %}{{ post.title }} {% post_edit_link post user %} {% post_status post %}{% endblock %}

{% block content %}

<script type="text/javascript">

colors = ['317CB4', '000000', 'CC0000', 'CC6600', 'CCCC00', '66CC00', '00CC66', '00CCCC', '0066CC', '0000CC', '6600CC', 'CC00CC', 'CC0066'];
color_index = Math.floor(Math.random() * colors.length);

yandex_partner_id = 8400;
yandex_site_bg_color = 'FFFFFF';
yandex_stat_id = 24;
yandex_ad_format = 'direct';
yandex_font_size = 1;
yandex_direct_type = 'vertical';
yandex_direct_limit = 1;
yandex_direct_title_font_size = 3;
yandex_direct_links_underline = true;
yandex_direct_title_color = colors[color_index];
yandex_direct_url_color = '666666';
yandex_direct_text_color = '000000';
yandex_direct_hover_color = 'CC0000';
yandex_direct_sitelinks_color = '317CB4';
yandex_direct_favicon = true;
yandex_no_sitelinks = false;

yadid = yandex_stat_id.toString() + '0' + color_index.toString();
yandex_stat_id = parseInt(yadid);

document.write('<scr'+'ipt type="text/javascript" src="//an.yandex.ru/system/context.js"></scr'+'ipt>');
</script>


    <div style="clear:both">
        <div class="b-feed b-post">
        <div class="item">
            <div style="float: right;">

<!-- admitad.banner: ndz80dnnq1b6a5f065c41a479c6d7c ТРАЕКТОРИЯ -->
<a target="_blank" rel="nofollow" href="https://ad.admitad.com/g/ndz80dnnq1b6a5f065c41a479c6d7c/?i=4">
    <img width="336" height="280" border="0" src="https://ad.admitad.com/b/ndz80dnnq1b6a5f065c41a479c6d7c/" alt="ТРАЕКТОРИЯ"/>
</a>
<!-- /admitad.banner -->
<br><br>


<!-- /85092470/glader_post_right -->
<div id='div-gpt-ad-1450960661235-0'>
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1450960661235-0'); });
</script>
</div>
            </div>

            <div class="text g-line b-post_content">
                <p>
                    {{ post.content|safe }}
                </p>
            </div>

            <div data-ablock="8914" class="AdvertoneBlock" style="display:inline-block"></div>

<br><br>
<div id="bn_89155218e8">загрузка...</div>
<script type="text/javascript" src="//recreativ.ru/rcode.89155218e8.js"></script> 

            {% relative_posts post %}

            {% include "blocks/disqus_comments.html" %}
        </div>
        </div>
    </div>
{% endblock %}
