{% extends "base.html" %}
{% load content %}
{% load russian %}

{% block title %}{{ post.title }} - {{ parent.title }}{{ block.super }}{% endblock %}

{% block description %}
    {% if post.meta_description %}
        <meta name="description" content="{{ post.meta_description }}">
    {% endif %}
{% endblock %}

{% block top_menu %}
    {% top_menu post.category.slug 'posts' %}
{% endblock %}

{% block head %}
    {% include "block_social_scripts.html" %}
{% endblock %}

{% block page_title %}
    <h1>{{ post.title }} {% post_edit_link post user %} {% post_status post %}</h1>
{% endblock %}

{% block content %}
    <div style="clear:both">
        <div class="b-feed b-post">
        <div class="item">
            <div class="text g-line b-post_content">
                <p>
                    {{ post.content|safe }}
                </p>
            </div>

            {% post_panel post user %}

            {% relative_posts post %}

            {% include "blocks/disqus_comments.html" %}
        </div>
        </div>
    </div>
{% endblock %}
