{% extends "base.html" %}
{% load static %}

{% block title %}Предложение новости{% endblock %}

{% block page_title %}Предложение новости{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    <p>Вы можете предложить новость для публикации на нашем сайте. Если модератор сочтет ее интересной для наших читателей,
        новость будет опубликована. Обратите внимание, рекламные новости требуют согласования, условия описаны на
        <a href="/content/advert.htm">специальной странице</a>.</p>

    {{ form.media }}

    <form method="POST" id="editform" enctype="multipart/form-data">
        <table class="b-form">
            {% csrf_token %}
            {{ form }}

            <tr><td colspan="2">
                <input type="submit" value="Предложить">
            </td></tr>
        </table>
    </form>
{% endblock %}

{% block scripts %}{% endblock %}
