{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Редактирование новости - {{ block.super }}{% endblock %}

{% block page_title %}Редактирование новости{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {{ form.media }}
    <form method="POST" id="editform" enctype="multipart/form-data">
        <table class="b-form">
            {% csrf_token %}
            {{ form }}

            <tr><td colspan="2">
                <input type="submit" value="Сохранить">
            </td></tr>
        </table>
    </form>
{% endblock %}
