{% extends "base.html" %}
{% load static %}

{% block title %}Редактирование новости{% endblock %}

{% block page_title %}Редактирование новости{% endblock %}

{% block extrahead %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
{% endblock %}

{% block content %}
    {{ form.media }}

    {% if object.status == 'save' %}<p><strong>Пост сохранен и отправлен на рассмотрение модератору</strong>.</p>{% endif %}
    <form method="POST" id="editform" enctype="multipart/form-data">
        <table class="b-form">
            {% csrf_token %}
            {{ form }}

            <tr><td colspan="2">
                <input type="submit" name="action" value="Сохранить">

                {% if request.user.is_superuser %}
                    <br><br>
                    <input type="submit" name="action" value="Опубликовать">
                    <input type="submit" name="action" value="Забанить">
                {% endif %}
            </td></tr>
        </table>
    </form>
{% endblock %}
