{% extends "item_common_article.html" %}
{% load content %}

{% block title %}{{ rubric.title }} {{ block.super }}{% endblock %}

{% block description %}
    {% if rubric.meta_description %}
        <meta name="description" content="{{ rubric.meta_description }}">
    {% endif %}
{% endblock %}

{% block page_title %}{{ rubric.title }}{% endblock %}

{% block content %}
		{% if children %}
			<ul>
			{% for child in children %}
				<li>{{ child|link }}<div class='para'><small>{{ child.abstract|default:"" }}</small></div></li>
			{% endfor %}
			</ul>
		{% endif %}

		{% if articles %}
			<ul>
			{% for child in articles %}
				<li>{{ child|link }}</li>
			{% endfor %}
			</ul>
		{% endif %}
{% endblock %}
