{% extends "tab_articles.html" %}
{% load content %}

{% block page_title %}<a href="{% url "skills" %}">Статьи</a> » {{ skill.title }}{% endblock %}

{% block title %}{{ skill.title }} - {{ block.super }}{% endblock %}

{% block description %}
    {% if skill.meta_description %}
        <meta name="description" content="{{ skill.meta_description }}">
    {% endif %}
{% endblock %}

{% block top_menu %}
    {% top_menu skill.slug 'articles' %}
{% endblock %}

{% block content %}
	<div class="b-skill">
		<img src="{{ skill.image.src }}" alt="{{ skill.title }}" class="image">

		{{ skill.description|safe }}

		{% if articles %}
			<h2>Статьи</h2>
			<ul>
				{% for article in articles %}
					<li>{{ article|link }}</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
{% endblock %}
