{% extends "tab_articles.html" %}
{% load content %}

{% block title %}Дерево сноубордических умений{% endblock %}

{% block page_title %}Дерево сноубордических умений{% endblock %}

{% block content %}
    <p>Выберите уровень, на котором хотите оказаться и узнайте, что для этого надо уметь.</p>

	<div style="position:relative; height: 800px; margin-top: 30px;">
		{% for block in blocks %}
			{% if block.3 %}
				<a href="{{ block.3.get_absolute_url }}">
			{% endif %}
			<img style="position: absolute; left: {{ block.1 }}px; top: {{ block.2 }}px" src="{{ STATIC_URL }}design/3/img/b-skills/{{ block.0 }}" alt="">
			{% if block.3 %}
				</a>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
