{% extends "item_common_article.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'dictionary' %}
{% endblock %}

{% block description %}
    {% if object.meta_description %}
        <meta name="description" content="{{ object.meta_description }}">
    {% endif %}
{% endblock %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block content %}
    {{ object.abstract|safe }}

    {{ object.content|safe }}

    {% with object.uid as page_identifier %}
        {% include "blocks/disqus_comments.html" %}
    {% endwith %}
{% endblock %}
