{% extends "base.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'world' %}
{% endblock %}

{% block page_title %}Трюки{% endblock %}

{% block title %}Трюки{% endblock %}

{% block content %}
    <p>Всегда есть куда развиваться. Но если у тебя вдруг кончилась фантазия, посмотри эти трюки, возможно тебе захочется сделать что-нибудь этакое.</p>
    <p>И кстати, помни, что ни одна раскадровка, ни одно описание не помогут тебе так, как наблюдение за его выполением прямо в парке и замечания профиков по ходу дела. Поэтому смело подходи к любому не сильно занятому бордеру и спрашивай. Тебе помогут. В этом наша сила.</p>

    {% for cat in cats %}
        <h3>{{ cat.1 }}</h3>
        <ul>
            {% for trick in cat.2 %}
                <li>{{ trick|link }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
