{% extends "base.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'dictionary' %}
{% endblock %}

{% block description %}
    {% if object.meta_description %}
        <meta name="description" content="{{ object.meta_description }}">
    {% endif %}
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block page %}
    <div itemscope itemtype="https://webmaster.yandex.ru/vocabularies/term-def.xml">
        <div class="b-page-title"><h1 itemprop="term">{{ object.title }}</h1></div>

        <div class="dict_entry" itemprop="definition">
            <div class="g-hidden">{{ object.title }}:</div>
            {{ object.abstract|default:""|safe }}
            {{ object.content|safe }}
        </div>
    </div>
{% endblock page %}
