{% load content %}
{% load russian %}

	<div class="comment_item" id="comment_{{ comment.id }}" style="margin-left: {{ comment.order|indent }}px;"><a name='c{{ comment.id }}'></a>
		<img src='{{ comment.avatar }}' class='icon'>
		<b>{{ comment.profile_link }}</b> &nbsp;
		<small style='color:#999'>{{ comment.date_created|human_date }} {{ comment.date_created|human_time }}</small>
		&nbsp;&nbsp;&nbsp;
		<a href='{{ comment.get_absolute_url }}' style='text-decoration:none; color:gray'>#</a>

	  <div class="content">{{ comment.content|parser }}</div>

	  <div style="margin-top: 3px; font-size: 80%;"><a id="commentlink{{ comment.id }}" class="js-commentlink {comment:'{{ comment.id }}'}"
				href='#c{{ comment.id }}'>ответить</a></div>
	  <form id='commentform{{ comment.id }}' class="js-commentform g-hidden {post:'{{ post.pk }}', klass:'{{ klass }}', comment:'{{ comment.id }}'}"
			style='margin-left:30px;' action="/ajax/add_comment">
		<input type='hidden' name='action' value='add_comment'>
		<input type='hidden' name='comment' value='{{ comment.id }}'>
		<input type='hidden' name='post' value='{{ post.pk }}'>
		<input type='hidden' name='original_id' value='{{ comment.id }}'>
		<input type='hidden' name='retpath' value='{{ post.get_absolute_url }}'>
		<textarea name='content' cols='60' rows='5' id='content{{ comment.id }}'></textarea>
		<br>
		<input type='submit' value='Отправить'>
	  </form>
	  </div>
	<br>
	<div id='aftercomment{{ comment.id }}'></div>