{% extends "item_common_article.html" %}
{% load content %}

{% if article.skill %}
	{% block page_title %}<a href="{% url skills %}">Статьи</a> {% if article.skill %}» {{ article.skill|link }} {% endif %}» {{ article.title }}{% endblock %}
{% endif %}

{% block title %}{{ article.title }} {{ block.super }}{% endblock %}

{% block content %}
    <div class="b-static-text">
    <a name="{{ article.name }}"></a>
<!--    {% if article.skill %}
        <div><a href="/skills">Дерево умений</a> >> <a href="{{ article.skill.get_absolute_url }}">{{ article.skill.title }}</a> >> {{ article.title }}
    {% endif %}
-->

    {% if menu %}
        <ul>
            {% for m in menu %}
                <li>{% ifequal forloop.counter0 page %}<strong>{{ m }}</strong>{% else %}<a href="{{ article.get_absolute_url }}?page={{ forloop.counter0 }}">{{ m }}</a>{% endifequal %}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ content|default:""|parser }}

    {% if previous %}
        <a href="{{ article.get_absolute_url }}?page={{ previous.0 }}" style="float:left"><- {{ previous.1 }}</a>
    {% endif %}

    {% if next %}
        <a href="{{ article.get_absolute_url }}?page={{ next.0 }}" style="float:right">{{ next.1 }} -></a>
    {% endif %}

    </div>
    {{ post.tags_html|safe }}

    {% post_panel article user %}

    {% comments article request %}
{% endblock %}