{% load content %}
                <div class="item">
                    <div class="title"><h2>{{post|link}} 
                        {% post_edit_link post user %}
                    </h2></div>
                    <div class="text">
                        <p>
                            {{ post|first_paragraph|parser}}
                        </p>
                    </div>

                    {{ post.tags_html|safe }}

                    {% post_panel post user mode %}
                </div>