{% load content %}
{% load russian %}
                    <div class="b-bar">
                        <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                        <table>
                        <tr>
                            <td class="points">
                                <span id="{{post.pk}}_rating">{{ post.rating|signed_number }}</span>&nbsp;
                                {% if already_voted %}
                                    <img src="{% MEDIA_URL %}design/3/img/b-bar/plus_disabled.png" alt="Нравится" class="icon">
                                {% else %}
                                    <a href="" class="js-vote {post:'{{post.pk}}', klass:'{{ klass }}'}" id="{{post.pk}}_vote"><img id="{{post.pk}}_rating_up" src="{% MEDIA_URL %}design/3/img/b-bar/plus.png" alt="Нравится" class="icon"></a>
                                {% endif %}
                                {% if user.is_moderator %}
                                    &nbsp;&nbsp;
                                    <script>
                                        function moderateRating(postId){
                                            vote = prompt("Введите оценку","");
                                            addPostVotes(postId, vote);
                                            return false;
                                        }
                                    </script>
                                    <small>[<a href="" onclick="return moderateRating('{{post.pk}}')">рейтинг</a>]</small>
                                {% endif %}
                            </td>
                            <td>
                                <table class="b-bar-social"><tr>
                                    <td><fb:like href="http://glader.ru{{ post.get_absolute_url }}" layout="button_count" show_faces="true" width="150"></fb:like></td>
                                    <td>
                                        <script type="text/javascript"><!--
                                            document.write(VK.Share.button({url: "http://glader.ru{{ post.get_absolute_url }}", title: "Glader.ru: {{ post.title }}",  noparse: true},{type: "round", text: "Поделиться"}));
                                        --></script>
                                    </td>
                                    <td class="sep">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                    <td>
                                        <a href="http://twitter.com/share?text={{ post.title|urlencode }}&url=http://glader.ru{{ post.get_absolute_url }}" class="twitter-share-button">Tweet</a>
                                    </td>
                                </tr></table>

							</td>
                            <td class="date">{% if post.date_created %}{{ post.date_created|human_date }}{% endif %}</td>
                            <td class="comments">
                            	{% if post.comment_count %}<a href="{{post.get_absolute_url}}#comments">{{ post.comment_count }} {{ post.comment_count|human_number:"комментарий" }}</a>
                                	{% ifequal mode 'new_comments' %}
                                    	/ <a href="{{post.get_absolute_url}}#new">{{ post.new_comments }} {{ post.new_comments|human_number:"новый" }}</a>
                                	{% endifequal %}
                                {% else %}
                                	<a href="{{post.get_absolute_url}}#comments">прокомментировать</a>
                                {% endif %}</td>
                        </tr>
                        </table>
                        <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
                        <div class="dec">
                            <i class="lg"></i>
                            <i class="rg"></i>
                        </div>
                    </div>

