

<div class="b-auth-form b-auth-form_reg">
        <table class="control">
        <tr>
            <td class="auth">
                <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                <a href="/"><b class="auth-i"><i class="arrow"><i></i></i>Авторизация</b></a>
                <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
            </td>
            <td class="control-g"><i></i></td>
            <td class="reg">
                <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                <a href="/"><b class="reg-i"><i class="arrow"><i></i></i>Регистрация</b></a>
                <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
            </td>
        </tr>
        </table>
        
        <form action="" method="post">
            <div class="item">
                <label for="name">Ваше имя</label>
                <input type="text" name="name" id="name" value="" />
            </div>

            <div class="item">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" value="" />
            </div>

            <table class="l50">
            <tr>
                <td class="col">
                    <div class="item">
                        <label for="passwd">Пароль</label>
                        <input type="password" name="passwd" id="passwd" value="" />
                    </div>
                </td>
                <td class="l50-g"><i></i></td>
                <td class="col">
                    <div class="item">
                        <label for="passwd_confirm">Повтор пароля</label>
                        <input type="password" name="passwd_confirm" id="passwd_confirm" value="" />
                    </div>
                </td>
            </tr>
            </table>
            <div class="submit">
                <input type="submit" value="Регистрация" />
            </div>

        </form>
        
    </div>
    
    <div class="b-auth-form b-auth-form_auth" style="margin-top: 300px;">
        <table class="control">
        <tr>
            <td class="auth">
                <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                <a href="/"><b class="auth-i"><i class="arrow"><i></i></i>Авторизация</b></a>
                <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
            </td>
            <td class="control-g"><i></i></td>
            <td class="reg">
                <i class="b-round b-round_6"><i class="l t"><i></i></i><i class="r t"><i></i></i></i>
                <a href="/"><b class="reg-i"><i class="arrow"><i></i></i>Регистрация</b></a>
                <i class="b-round b-round_6"><i class="l b"><i></i></i><i class="r b"><i></i></i></i>
            </td>
        </tr>
        </table>
        
        <form action="" method="post">
            <div class="item">
                <label for="name">Ваше имя</label>
                <input type="text" name="name" id="name" value="" />
            </div>

            <table class="l50">
            <tr>
                <td class="col">
                    <div class="item">
                        <label for="passwd">Пароль</label>
                        <input type="password" name="passwd" id="passwd" value="" />
                    </div>
                </td>
                <td class="l50-g"><i></i></td>
                <td class="col">
                    <div class="lost"><a href="/">Забыли пароль?</a></div>
                </td>
            </tr>
            </table>
            <div class="submit">
                <input type="submit" value="Регистрация" />
            </div>

        </form>
    </div>
</div>