{% extends "item_common.html" %}
{% load content %}

{% block top_menu %}
    {% top_menu 'movies' %}
{% endblock %}

{% block page %}
    <div id="all_events">
        {% hierarchy item %}
        <br>

        <h1>{% block page_title %}{{ item.title }}{% endblock %}</h1>
		
    	<div class="event">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <h2>Категории фильмов</h2>
    <div id="translation">
        {% dop_menu 'movie_menu' %}
   </div>
{% endblock %}
