{% extends "base.html" %}
{% load content %}

{% block head %}
<script type='text/javascript'>
function wshow(url) {
  winName = 'new'+parseInt(Math.random()*100000);
  width = 600;
  height = 680;
  window.open(url, winName,
    'toolbar=no,location=no,directories=no,status=no,'+
    'menubar=no,scrollbars=yes,resizable=yes,'+
    'width=' + width + ',' +
    'height=' + height + ',' +
    'left=' + ((screen.width - width) / 2) + ',' +
    'top=' + ((screen.height - height) / 2));
  return false;
}
</script>
{% endblock %}

{% block title %}{% if photo.title %}{{ photo.title }}{% else %}{% if photo.post %}{{ photo.post.title }}{% else %}Фото{% endif %}{% endif %} - {{ block.super }}{% endblock %}

{% block page_title %}
    {% if post %}{{ post|link }}{% if photo.title %}: {% endif %}{% endif %}{{ photo.title }}
    {% if can_edit %}(<a href="{% url edit_photo photo.pk %}">ред</a>){% endif %}
    {% if user.get_profile.is_moderator %}<small>(<a href="/admind/core/photo/{{ photo.id }}/">админка</a>)</small>{% endif %}
{% endblock %}

{% block content %}
	<div style="position:relative">
		{% if prev_photo %}
			<div style="position:absolute; left: 1px; top: 1px;">
	    	<a href="{{ prev_photo.get_absolute_url }}" title="Предыдущая фотография" style="outline: none;"><img src="{% MEDIA_URL %}design/3/img/b-photo/prev.png" alt="Предыдущая фотография" style="border: 1px solid #fff;"></a>
	    	</div>
	    {% endif %}

		{% if next_photo %}
			<div style="position:absolute; right: 1px; top: 1px;">
	    	<a href="{{ next_photo.get_absolute_url }}" title="Следующая фотография" style="outline: none;"><img src="{% MEDIA_URL %}design/3/img/b-photo/next.png" alt="Следующая фотография" style="border: 1px solid #fff;"></a>
	    	</div>
	    {% endif %}

        <div style="text-align:center; overflow: hidden; width: 100%">
            {% if next_photo %}
                   <a href="{{ next_photo.get_absolute_url }}" title="Следующая фотография"><img class="userphoto" style="max-width: 100%" src="{{ photo.get_photo_url }}" alt=""></a>
               {% else %}
                   <img class="userphoto" style="max-width: 100%" src="{{ photo.get_photo_url }}" alt="">
               {% endif %}
        </div>
	</div>


	<br />
   	{% if photo.photographer %}<div><strong>Автор:</strong> {{ photo.photographer|link }}</div>{% endif %}
	{% if photo.rider %}<div><strong>В кадре:</strong> {{ photo.rider|link }}</div>{% endif %}

	<br />
	<p>{{ photo.tags_html|safe }}</p>

    {% post_panel photo user %}

    {% comments photo request %}

{% endblock %}