{% extends "base.html" %}
{% load content %}
{% load cache %}

{% block title %}{{ tag.title }} - {{ block.super }}{% endblock %}

{% block rss_link %}
   <link rel="alternate" type="application/rss+xml" href="http://{% DOMAIN %}/feeds/tags/{{ tag.name }}" title="Glader.ru: {{ tag.title }}">
{% endblock %}

{% block top_menu %}
    {% top_menu "posts" %}
{% endblock %}

{% block page_title %}<b>Cообщения с тегом</b> {{ tag.title }}{% endblock %}

{% block content %}
    <div class="b-feed">
        {% for post in posts %}
            {{ post }}
        {% endfor %}
    </div>

    {% pagination %}
{% endblock content %}

{% block sidebar %}
    <h2 class="b-block-title">Прямой эфир</h2>
    {% last_conversations %}
{% endblock %}
