{% extends "base.html" %}
{% load content %}

{% block title %}Лучшие сообщения - {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu 'rating' %}
{% endblock %}

{% block page_title %}Лучшие сообщения{% endblock %}

{% block content %}
    <ul class="b-pager">
       <li class="current">Посты</li>
       <li><a href="?category=users">Пользователи</a></li>
    </ul>
    <br /><br /><br />
   
    <ul class="b-pager">
       {% ifequal subcategory "rating" %}
           <li class="current">По рейтингу</li>
           <li><a href="?{% get_params request "subcategory" "comments" %}">По комментариям</a></li>
       {% else %}
           <li><a href="?{% get_params request "subcategory" "rating" %}">По рейтингу</a></li>
           <li class="current">По комментариям</li>
       {% endifequal %}
    </ul>
    <br /><br /><br />
   
    <ul class="b-pager">
        {% ifequal period "week" %}
            <li><a href="?{% get_params request "period" "month" %}">За месяц</a></li>
            <li class="current">За неделю</li>
        {% else%}
            <li class="current">За месяц</li>
            <li><a href="?{% get_params request "period" "week" %}">За неделю</a></li>
        {% endifequal %}       
    </ul>
    <br /><br /><br />
    
    <div class="b-feed">
        {% for item in items %}
            {% cut_view item user %}
        {% endfor %}
    </div>    
{% endblock content %}

{% block sidebar %}
    {% include "block_index_sidebar.html" %}
{% endblock sidebar %}