/* Навигация (begin) */ /**/
    .b-navigate
    {
        position: relative;
        
        float: left;
        
        margin: 40px 0 0 0;
    }

    .b-navigate .navigate td
    {
        font-family: "Arial Narrow", Tahoma;

        overflow: hidden;

        padding: 6px 10px;
        
        text-transform: uppercase;

        white-space: nowrap;
        
        background: #0f4c79;
    }

    .b-navigate .navigate .current
    {
        padding: 0;
        
        background: #febe29;
    }

    .b-navigate .navigate .current i
    {
        display: block;

        background: url(/media/design/3/img/navigate/current_left.png) 0 0 no-repeat;
    }

    .b-navigate .navigate .current i i
    {
        padding: 6px 20px;

        background: url(/media/design/3/img/navigate/current_right.png) 100% 0 no-repeat;
    }

    .b-navigate .navigate a:link,
    .b-navigate .navigate a:visited,
    .b-navigate .navigate a:hover,
    .b-navigate .navigate a:active
    {
        color: #fff;

        text-decoration: none;
    }

    .b-navigate .description
    {
        font-size: 80%;
        
        padding: 5px 10px;

        color: #0f4c79;
        
        background: #febe29;
    }

    .b-navigate .navigate .dec
    {
        width: 1px;
    }

    .b-navigate .navigate .dec1
    {
        position: absolute;
        top: 0;
        right: 0;
        
        display: block;
        width: 109px;
        height: 28px;
        margin-right: -109px;

        background: url(/media/design/3/img/navigate/dec1.png) 0 0 no-repeat;
    }

    .b-navigate .navigate .dec2
    {
        position: absolute;
        top: 0;
        left: 395px;

        display: block;
        width: 46px;
        height: 25px;
        margin: -25px 0 0 0;

        background: url(/media/design/3/img/navigate/dec3.gif) 0 0 no-repeat;
    }

    .b-navigate .dec2
    {
        position: absolute;
        right: 0;
        bottom: 0;

        display: block;
        width: 30px;
        height: 33px;
        margin: 0 -16px -15px 0;
        
        background: url(/media/design/3/img/navigate/dec2.gif) 0 0 no-repeat;
    }
/* Навигация (end) */ /**/