{% extends "my/base.html" %}
{% load content %}

{% block title %}{% if title %}{{ title }}{% else %}Все сообщения{% endif %} - {{ block.super }}{% endblock %}

{% block top_menu %}
    {% top_menu 'drafts' %}
{% endblock %}

{% block page_title %}{% if title %}{{ title }}{% else %}Все сообщения{% endif %}{% endblock %}

{% block content %}
    <div class="b-feed">
        {% for item in posts %}
            {% cut_view item user %}
        {% endfor %}
    </div>

    {% pagination %}
{% endblock content %}
