{% extends "tab_none.html" %}
{% load content %}

{% block title %}Авторизация - {{ block.super }}{% endblock %}

{% block page %}

       <!-- Основная часть -->
       <!-- Заголовок страницы -->
		<div class="page_header"><table><tr><td><h1>Сброс пароля</h1></td><td class="page_header_right"></td></tr></table></div>
		<!-- /Заголовок страницы -->

       <div class="content">
       <div class="text">
       
		<h4>Я забыл пароль</h4>
		<div>Введите адрес почты, который указывали при регистрации</div>
		
		<form action="" method="post">
		{% csrf_token %}
            {{ form.email.errors }}
            <p>{{ form.email }} <input type="submit" value="Сбросить пароль" /></p>
           </form>

       </div>
       </div>
   
{% endblock %}
