{% extends "tab_none.html" %}
{% load content %}

{%block title%}Авторизация - {{ block.super }}{%endblock%}

{% block page %}

       <!-- Основная часть -->
       <!-- Заголовок страницы -->
		<div class="page_header"><table><tr><td><h1>Сброс пароля</h1></td><td class="page_header_right"></td></tr></table></div>
		<!-- /Заголовок страницы -->

       <div class="content">
       <div class="text">
       
		<div>Ваш пароль изменен. Можете воспользоваться им для <a href="{% url login %}">входа на сайт</a>.</div>

       </div>
       </div>
   
{% endblock %}
