# production

DATABASES = {
    'default': {
        'HOST': '%(DATABASE_HOST)s',
        'NAME': '%(DATABASE_DB)s',
        'ENGINE': 'django.db.backends.mysql',
        'USER': '%(DATABASE_USER)s',
        'PASSWORD': '%(DATABASE_PASSWORD)s',
    }
}

LOG_PATH = '/var/log/projects/gladerru'

SECRET_KEY = '%(DJANGO_SECRET_KEY)s'

YAMAPS_API_KEY = '%(YAMAPS_API_KEY)s'

YANDEX_XML_LOGIN = '%(YANDEX_XML_LOGIN)s'
YANDEX_XML_KEY = '%(YANDEX_XML_KEY)s'

YAFOTKI_STORAGE_OPTIONS = {
    'username': '%(YAFOTKI_ACCOUNT_NAME)s',
    'token': '%(YAFOTKI_TOKEN)s',
    'post': '%(YAFOTKI_POST)s',
    'host': '%(YAFOTKI_HOST)s',
}

SAPE_LOGIN = ''
SAPE_PASSWORD = ''
SAPE_SITE_ID = 111
