# production
from __future__ import unicode_literals

DATABASES = {
    'default': {
        'HOST': '%(DATABASE_HOST)s',
        'NAME': '%(DATABASE_DB)s',
        'ENGINE': 'django.db.backends.mysql',
        'USER': '%(DATABASE_USER)s',
        'PASSWORD': '%(DATABASE_PASSWORD)s',
    }
}

LOG_PATH = '/var/log/projects/gladerru'

SECRET_KEY = '%(DJANGO_SECRET_KEY)s'

YAMAPS_API_KEY = '%(YAMAPS_API_KEY)s'

YANDEX_XML_LOGIN = '%(YANDEX_XML_LOGIN)s'
YANDEX_XML_KEY = '%(YANDEX_XML_KEY)s'

YAFOTKI_STORAGE_OPTIONS = {
    'username': '%(YAFOTKI_ACCOUNT_NAME)s',
    'token': '%(YAFOTKI_TOKEN)s',
    'post': '%(YAFOTKI_POST)s',
    'host': '%(YAFOTKI_HOST)s',
}

DUMP_ACCOUNT_NAME = '%(DUMP_ACCOUNT_NAME)s'
DUMP_PASSWORD = '%(DUMP_PASSWORD)s'

RECAPTCHA_PUBLIC_KEY = '%(RECAPTCHA_PUBLIC_KEY)s'
RECAPTCHA_PRIVATE_KEY = '%(RECAPTCHA_PRIVATE_KEY)s'
