{% load content %}
<h2 class="b-block-title">Случайное фото</h2>
<div id="picturebox_picture">{{ picture|link }}</div>
<div><a href="#" id="picturebox_link_bad" class="b-picturebox-pseudolink">фигня</a></div>
<div><a href="#" id="picturebox_link_next" class="b-picturebox-pseudolink">следующая</a></div>
<div>
    <a href="{% url "tags" "prophoto" %}?filter=best">галерея</a>
</div>
<script type="text/javascript">
    $(function(){
          $('#picturebox_link_bad').click(function(event){
              event.preventDefault();
              pictureBox({{ picture.pk }}, 'bad')
          })
          $('#picturebox_link_next').click(function(event){
              event.preventDefault();
              pictureBox({{ picture.pk }}, 'next')
          })
          $('#picturebox_picture a').click(function(event){
              event.preventDefault();
              pictureBox({{ picture.pk }}, 'good');
          })
    });
</script>
